<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<li><a href="/listarPC" >Listado de Personal</a></li>   
<li><a href="/listarIngresoPC" >Listado Ingreso de Personal</a></li> 
<li><a href="/listarPPFF" >Listado PPFF</a></li> 
<li><a href="/listarIPPFF" >Listado Ingreso PPFF</a></li> 
<li><a href="/listarPE" >Listado Persona Externa</a></li> 
<li><a href="/listarIngresoPE" >Listado Ingreso Persona Externa</a></li> 
<li><a href="/buscarIPC" >Listado Ingreso Persona Externa</a></li> 
<li><a href="/newIPC" >Listado Ingreso Persona Externa</a></li> 
</body>
</html>